@model IEnumerable<Models.WordSet>

@{
    ViewBag.Title = "OverviewWordsets";
}

<h2>OverviewWordsets</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WordSet_Name)
        </th>
    </tr>
</table>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WordSet_Name)
        </td>
        <td>
            @Html.ActionLink("Wijzig", "Edit", new { id = item.Id })
        </td>
    </tr>
}