@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1 style="color: #cf000f; font-size: 600%;">Gotcha</h1>
    <p class="lead"><b>
    Gotcha is een spel waarbij je je tegenstanders moet zien te elimineren door hem of haar een bepaald woord te doen uitspreken.
    Het is een spel dat je overal kan en met iedereen kunt spelen, op school, op het werk, op speelpleinwerking, enzovoorts.
    Het enige dat je nodig hebt is een aantal spelers die voor zichzelf een account aanmaken.</b></p>
    <p style="font-size: 150%;"><strong>Let the games begin!</strong></p>
    <p><a href="/Access/Register" class="btn btn-primary btn-lg">Meld je nu aan!</a></p>
</div>