@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gotcha Web</h1>
    <p class="lead">Ja uw ziet het Gotcha is nu ook op een online webplatform log nu snell in of meld je!!!!</p>
    <p><a href="/Access/Register" class="btn btn-primary btn-lg">Meld je aan</a></p>
</div>

