@{
    ViewBag.Title = "Home Page";
}

<div class="ml-auto mb-1 text-sm text-center">
    <h1 style="color: #cf000f; font-size: 600%;">Gotcha</h1>
    <p class="lead" style="font-size: 200%;"><b>Elimineer al je tegenstanders en bekroon jezelf tot winnaar van het spel!</b></p>
    <p><a href="/Access/Register" class="btn btn-primary btn-lg">Meld je nu aan!</a></p>
</div>

