<div class="modal fade" id="_Modal" tabindex="-1" aria-labelledby="_ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Functionaliteit Ontbreekt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sorry we moeten u helaas meedelen dat deze functie nog niet geïmplementeerd is, onze excuses hiervoor!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Terug</button>
            </div>
        </div>
    </div>
</div>