@model zuydGotcha.ViewModels.Gametypes.EditGametypeViewModel

@{
    ViewBag.Title = "EditGametype";
}

<h2>Spelvariant Bijwerken</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Spelvariant naam</span>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group col-md-5">
            <div class="input-group">
                <span class="input-group-text">Omschrijving</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-success">Bijwerken</button>
                <button type="button" class="btn btn-secondary">Annuleren</button>
            </div>
        </div>
    </div>
}