
@{
    ViewBag.Title = "PasswordReset";
}

<h2>PasswordReset</h2>



<div class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("PasswordReset", "Access", FormMethod.Post))
            {
                <label>vull uw email in en ontvang een wachtwoord resetnummer</label>
                <div class="form-floating mb-3">
                    
                    @Html.TextBox("Email",null, new { @class = "form-control", @placeholder = "Email Adress", @id = "floatingEmail" })
                    <label for="floatingEmail">Email address</label>
                </div>
                <button type="submit" class="btn btn-primary align-bottom">Reset</button>
            }
        </div>
    </div>
</div>